{% extends "base.html" %}

{% load  static %}


{% block title %}
Loja de katana
{% endblock %}

{% block blockstyle %}

<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

{% endblock %}


{% block body %}

<!--Pergunta de favorito-->
<div class="modal fade" id="favorite" tabindex="-1" aria-labelledby="favoriteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="favoriteModalLabel">Favoritado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                O item foi adicionado a sua lista de favoritos.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-brown2 brown" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn bg-brown1 lightBrown">Exibir sua Lista</button>
            </div>
        </div>
    </div>
</div>

<!--Produto-->
<section>
    <div class="container-fluid p-5" style="margin-top: 100px; min-height: 960px;">

        <!--Produto para telas md+-->
        <div class="card d-none d-md-block mr-auto ml-auto bg-translucid shadow-lg">
            <div class="card-body">

                <h2 class="card-title Dosis text-center pt-1 pb-5">{{product.name}}</h2>

                <div class="row px-3">
                    <div class="container col-6">
                        <div class="fotorama">
                            <img src="{{product.image.url}}" alt=""
                                class="img-fluid">
                            <img src="{{product.image.url}}" alt=""
                                class="img-fluid">
                        </div>
                    </div>
                    <div class="container text-justify Dosis col-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dui sit amet
                            urna sodales
                            convallis at sed risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse non dui sit amet
                            urna sodales
                            convallis at sed risus.
                        </p>
                    </div>

                    <h5 class="container col-12 text-right pt-4 Raleway">R${{product.price}}<a class="show-toast" href="#"><i
                                class="fa fa-shopping-cart px-3 align-self-center" style="font-size:20px;"></i></a>
                    </h5>

                    <div class="container text-justify Dosis pt-5">
                        <hr class="my-4">
                        <h5 class="Dosis">Descrição</h5>
                        <p class="px-3">
                            {{product.description}}
                        </p>
                    </div>
                    <div class="container col-12 text-right pt-4">
                        <h5 class="Quicksand">
                            <a data-toggle="modal" data-target="#favorite" href="">
                                Favoritar
                                <i class="fa fa-star px-3" style="font-size:20px;"></i>
                            </a>
                        </h5>

                    </div>
                </div>
            </div>
        </div>

        <!--Produto para telas sm- -->
        <div class="card d-md-none mr-auto ml-auto bg-translucid shadow-lg">
            <div class="card-body">

                <h2 class="card-title Dosis text-center pt-1 pb-5">{{product.name}}</h2>

                <div class="row px-3">

                    <div class="fotorama">
                        <img src="{{product.image.url}}" alt="" class="img-fluid">
                        <img src="{{product.image.url}}" alt="" class="img-fluid">
                    </div>

                    <p class="pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dui sit amet
                        urna sodales
                        convallis at sed risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse non dui sit amet
                        urna sodales
                        convallis at sed risus.
                    </p>


                    <h5 class=" container col-12 text-right pt-4 Raleway">R${{product.price}}<a class="show-toast"><i
                                class="fa fa-shopping-cart px-3" style="font-size:20px;"></i></a></h5>

                    <div class="container text-justify Dosis pt-5">
                        <hr class="my-4">
                        <h5 class="Dosis">Descrição</h5>
                        <p class="px-3">
                            {{product.description}}
                        </p>
                    </div>

                    <h5 class=" container col-12 text-right pt-4 Raleway">R${{product.price}}<a class="show-toast"><i
                                class="fa fa-shopping-cart px-3" style="font-size:20px;"></i></a></h5>

                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}
