{% extends "listProducts.html" %}
{% load static %}

{% block title %}

Pesquisa de produtos

{% endblock %}

{% block body %}
<div class="container" style="min-height: 960px;">

   <!--Lista de produto-->
   <section>

      <div class="container" style="margin-top: 100px;">
         <h3 class="text-center mb-5 Quicksand">
            {{category.name}}
         </h3>
         <hr class="my-4">
         <div class='row'>
            {% for product, form in list %}

            <div class="col-lg-6 col-md-12">
               <div class="card mb-3 mx-auto" style="width: 18rem;">

                  <img class="card-img-top" style="max-width: 286px; max-height: 180px;" src="{{product.image.url}}"
                     alt="{{product.category}} a venda">

                  <div class="card-body ">
                     <div class="text-center">
                        <a href="{% url 'product:showSpecificProduct' product.id product.slug %}">
                           <h5 class="card-title">{{product.name}}</h5>
                        </a>
                     </div>
                     <hr class="my-4">
                     <div class="row justify-content-between px-3">
                        <a class="show-toast" href="#">
                           <form action="{% url 'cart:attCart' %}" class="form-inline" method='POST' nonvalidate>
                              {% csrf_token %}
                              {{form.product_id}}
                              {{form.qty}}
                           </form>
                           <i class="fa fa-shopping-cart buy" type='button' style="font-size:20px;"></i>
                        </a>
                        <p class="card-text">
                           R${{product.price}}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>

      <!--Paginação-->
      <nav aria-label="Page navigation">
         {% if products.has_other_pages %}

         <ul class="pagination justify-content-center">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link"
                  href="?page={{products.previous_page_number}}&name={{name}}">Anterior</a></li>
            {% else %}
            <li class="page-item disable"><a class="page-link" href="#" tabindex="-1">Anterior</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a>
               <span class="sr-only">(Página {{ i }})</span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}&name={{name}}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li class='page-item'><a class='page-link'
                  href='?page={{ products.next_page_number }}&name={{name}}'>Próximo</a></li>
            {% else %}
            <li class='page-item disable'><a class='page-link' href='#' tabindex='-1'>Próximo</a></li>
            {% endif %}
         </ul>

         {% endif %}
      </nav>
   </section>
</div>
{% endblock %}