{% extends "base.html" %}

{% load static %}


{% block title %}
Loja de katana
{% endblock %}


{% block body %}
    <hr class="my-4">

    <!--Sobre-->
    <section>

        <div class="container" style="margin-top: 100px;">
            <h3>SOBRE A NOSSA FORJA</h3>
            <hr class="my-4">
            <div class="container text-justify px-5 Dosis">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dui sit amet urna sodales
                    convallis at sed risus. Donec faucibus ut lacus a aliquam. Ut ex mi, iaculis a auctor et, venenatis
                    et mauris. Aliquam ultrices lorem vel arcu tincidunt condimentum. Vivamus tortor lorem, molestie at
                    mi et, malesuada mollis arcu. Ut sodales ornare pulvinar. Mauris sed turpis enim. Etiam suscipit
                    elit felis, vitae faucibus sem malesuada eget. Phasellus vulputate, tortor porta tincidunt mattis,
                    erat turpis imperdiet erat, et fringilla enim nisl sed neque. Etiam porttitor elementum leo quis
                    tempus. Duis vel nunc eget est iaculis consectetur et vitae nisi. Etiam ornare ornare nunc,
                    consectetur sagittis magna gravida quis. Phasellus condimentum est eget nibh tempor aliquet. Vivamus
                    egestas dictum risus sit amet pharetra. Suspendisse vehicula justo at sem efficitur condimentum.
                </p>
            </div>
            <hr class="my-4">
            <h3>ESPECIALIDADE</h3>
            <hr class="my-4">
            <div class="container text-justify px-5 Dosis">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dui sit amet urna sodales
                    convallis at sed risus. Donec faucibus ut lacus a aliquam. Ut ex mi, iaculis a auctor et, venenatis
                    et mauris. Aliquam ultrices lorem vel arcu tincidunt condimentum. Vivamus tortor lorem, molestie at
                    mi et, malesuada mollis arcu. Ut sodales ornare pulvinar. Mauris sed turpis enim. Etiam suscipit
                    elit felis, vitae faucibus sem malesuada eget. Phasellus vulputate, tortor porta tincidunt mattis,
                    erat turpis imperdiet erat, et fringilla enim nisl sed neque. Etiam porttitor elementum leo quis
                    tempus. Duis vel nunc eget est iaculis consectetur et vitae nisi. Etiam ornare ornare nunc,
                    consectetur sagittis magna gravida quis. Phasellus condimentum est eget nibh tempor aliquet. Vivamus
                    egestas dictum risus sit amet pharetra. Suspendisse vehicula justo at sem efficitur condimentum.
                </p>
            </div>
            <hr class="my-4">
            <div class="container-fluid">

            </div>

        </div>
    </section>
    <section>
        <div class="container-fluid px-0 text-center">

            <img src="{% static 'images/sword-15.jpg' %}" class="img-fluid d-inline-block" style="padding-top: 50px;"
                alt="Espadas guardadas" loading="lazy">
        </div>

    </section>

{% endblock %}