@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');

nav footer{
   font-family: 'Alegreya Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.Quicksand {
   font-family: 'Quicksand', sans-serif;;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.Dosis{
   font-family: 'Dosis', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');


.Raleway{
   font-family: 'Raleway', sans-serif;
}

.card-text{
   font-family: 'Raleway', sans-serif;
}

.tooltip-inner {
   max-width: 250px;
}

.media img {
   width: 180px;
   margin-bottom: 16px;
   margin-right: 16px;
   border-radius: 6%;
}

.card-body a{
   color: #000000
}

.card-body a:hover{
   color: #000000
}

.footer {
   background-color: #926f40d3;
   color: #efefef;
   padding: 30px 0;
}

.footer a {
   color: #ffffff;
}

.footer a:hover {
   color: #d8e6f3;
}

.pagination > li > a
{
    background-color:white;
    color: #705737;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #705737;
    background-color: #f3eae0;
    border-color: #705737;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:focus{
   color:  #705737 !important;
   background-color: #f3eae0 !important;
   border: solid 1px #705737 !important;
}

.texto-1 {
   font-size: 35px;
}

.texto-2 {
   font-size: 30px;
}

@media (max-width: 1100px) {
   .texto-1 {
      font-size: 30px;
   }
   
   .texto-2 {
      font-size: 25px;
   }   
}

@media (max-width: 480px) {

   .media img {
      width: 90px;
      margin-bottom: 6px;
      border-radius: 50%;
   }
   
   .media-body h5 {
      padding-top: 18px;
      font-size: 15px;
   }
   
   .texto-media-body {
      display: none;
   }

}

body, html {
   height: 100%;
 }

.bg-brown1{
   background: #705737;
}
.bg-brown2{
   background: #f3eae0;
}

.box-video{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 40px 0;
   text-align: center;
   background: #edcf99 url('../images/SamuraiWallpaper.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.box-carousel{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 40px;
   text-align: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}

.bg-body-templo{
   /* The image used */
   background-image:url('../images/Templo1.png');
  /* Full height */
  height: 60%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-body-samurai{
   /* The image used */
   background-image:url('../images/Samurai1.png');
  /* Full height */
  height: 60%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-createuser{
   background: url('../images/TheSunGirl.jpg');
   background-position: center;
   background-repeat: no-repeat;
}

.bg-translucid{
   background: #ffffffb4;
}

.navbars{ 
   position: fixed;
}

.nav1{
   margin-top: 0px;
}

.nav2{
   margin-top: 55px;
}

.dropdown{
   position:relative;
}

.dropdown-menu {
   position:absolute;
   min-width: 15rem;
   width: 100%;
}

.brown-background {background-color:#705737;}

.lightBrown {color:#f3eae0;}

.brown{
   color:#705737;
}

aside {
   border-radius: 25px !important;
   background: #f3eae044 !important;
   border-style: solid !important;
   border-color: #705737b7 !important;
   width: 200px;
   padding-left: 15px;
   margin-left: 15px;
   float: left;
   font-style: italic;
   
 }

